

<div class="col-12 col-xxl-12 body-2" >
    <div class="row g-3">
        <div class="col-12 col-md-6" >
            <div class="card h-100  caja">
                <div class="card-body">
                    <h3>salesResport</h3>
                    <p>S/.1250.30</p>
                    <div  *ngFor="let data of reporte"  class="btn">
                        <button class="butt">{{data.titulo}}</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h1>BuyReport</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h1> sales/buy report History</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>